#section_1 {
    position: relative;
    // background: url('../images/03.png') center/cover no-repeat #000;
}

#section_2 {
    background: #fff;

    .image-box-content {
        img {
            opacity: 0;
        }
    }
}

.picture-section-2, 
.picture-section {
    padding: 5% 0;
    width: 100%;
    height: 100vh;
    max-height: 740px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    text-align: right;
    overflow: initial;

    .image-content-box,
    .image-content {
        width: 50%;
        // overflow: hidden;
        position: relative;
        height:  100vh;
        max-height: 80%;
    }

    img {
        max-width: 100%;
        opacity: 0;
        display: none;
        object-fit: contain;
    }
}

.picture-section img {
    opacity: 1;
    display: inline-block;
}

#section_3 {
    background: url('../images/05.jpg') center/cover no-repeat;
    position: relative;
    margin-top: 150px;
}

#section_4 {
    background: #fff;
}

#section_5 {
   background: #fff;
}

#section_6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.video {
    width: 100%;
    height: 100%;
}

.video-area {
    width: 100%;
    height: 100vh;
    padding: 60px 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-multiple-banner {
    height: 800px;
    width: 100%;
    background: #fff;

    & .figure {
        width: 100%;
        object-fit: cover;
        transition: .500s ease-in-out;

        &.hidden {
            opacity: 0;
            visibility: hidden;
        }

        &.image-visible {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

#section_8 {
    display: flex;
    max-height: 455px;
    flex-direction: column;
    flex-grow: 1;

    a {
        width: 100%;
        height: 100vh;
        max-height: 455px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        &.previous-history {
            background-image: url('../images/09.jpg');
        }

        &.next-history {
            background-image: url('../images/10.jpg');
        }
    }
}

.control-history {
    font-size: 40px;
    color: #fff;
}

.circle:hover {
    /* calculate using: (2 * PI * R) */
    stroke-dasharray: 227;
    stroke-dashoffset: 0;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  @keyframes rotate {
    to {
      stroke-dashoffset: 227;
    }
  }

  .center-circle {
        position: absolute;
        bottom: -60px;
        left: -29px;
        width: 100px;
  }

  #carousel {
    position: relative;
    overflow: hidden;
    cursor: none;
  }

#mouse-follow {
    position: absolute;
    left: 0;
    top:0;
    z-index: 9999;
    padding: 25px;
    background: transparent;
    color: #fff;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    pointer-events: none;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;

    img {
        width: 39px;
        display: inline-block;
        margin-bottom: 10;
        display: inline-block;
    }
  }

  .cover-video {
      position: relative;
      width: 100%;
      height: 100%;
      background: url('../images/07.png') center/cover no-repeat #000;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: .500s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover{
          background-color: $tertiary;
      }

      img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
      }

    iframe {
        z-index: 9999;
        position: absolute;
        transition: .500s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        opacity: 0;
        visibility: hidden;

        &.show-video-slider {
            opacity: 1;
            visibility: visible;
        }
    }
}


.actions {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 999;
    display: flex;
    padding: 40px;
    flex-direction: column;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;

    .buttonWrapper {
        display: flex;
        width: 100%;
        font-size: 24px;
        text-align: center;
        justify-content: center;
    }

    .text-wrapper {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 100px;
        font-family: 'newzald_testmedium';
    }

    .buttonSectionAction {
        display: flex;
        padding: 0 24px;
        justify-content: center;
        align-items: center;

        button {
            border: 1px solid #fff;
            color: #fff;
            border-radius: 100%;
            width: 150px;
            height: 150px;
            font-size: 18px;
            cursor: pointer;
            background: transparent;
            opacity: 0.4;
            transition: .500s ease-in-out;
            box-shadow: 0px 0px 0px #fff;
            
            &:hover {
                opacity: 1;
                box-shadow: 0px 0px 0px 4px #fff;
            }
        }
    }
}

.content {
    position: relative;
}

.safeBirthArea {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse-button {
    width: 310px;
    height: 310px;
    font-size: 40px;
    font-family: 'newzald_testmedium';
    background-color: transparent;
    display: inline-block;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFAFAF;
    position: relative;
    transition: .500s ease-in-out;
    text-align: center;
    animation: choke 2s infinite;

    &:hover {
        border-color: $tertiary;
        color: $tertiary;

        &::after, &::before {
            border-color: $tertiary;
        }
    }

    &:before, &::after {
        content: '';
        width: 100%;
        height: 0%;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: scale(1) translate(-50%, -50%);
        border-radius: 100%;
        border: 1px solid #AFAFAF;
    }

    &::before {
        animation: pulse 2s infinite;
    }

    &::after {
        animation: pulse2 2s infinite;
    }
}

@keyframes choke {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 $secondary;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulse {
	0% {
        width: 100%;
        height: 100%;
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 130%;
        height: 130%;
    }
}

@keyframes pulse2 {
	0% {
        opacity: 0;
        width: 120%;
        height: 120%;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 160%;
        height: 160%;
    }
}