@font-face {
    font-family: 'newzald_testbold';
    src: url('newzaldtest-bold-webfont.woff2') format('woff2'),
         url('newzaldtest-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'newzald_testmedium';
    src: url('newzaldtest-medium-webfont.woff2') format('woff2'),
         url('newzaldtest-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muliregular';
    src: url('muli-regular-webfont.woff2') format('woff2'),
         url('muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}