$mask: '../../images/transition.png';
$mask2: '../../images/transition-2.png';

.banners {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url($mask) no-repeat -9999px -9999px #000;
	background-size: 0;

    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .mouse-icon {
        position: absolute;
        font-size: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        line-height: 28px;
        top: 300%;

        &:before {
            content: '';
            width: 1px;
            height: 6px;
            top: 6px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            background: #fff;
            animation: moveScroll 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        }
    }

    @keyframes moveScroll {
        0% {

        }

        25% {
            top: 8px;
        }

        30% {
            top: 6px;
        }

        100% {

        }
    }

    .button-content {
        position: absolute;
        width: 100%;
        bottom: 4%;
        text-align: center;
        padding: 40px;
    }

    .next-step-button {
        color: #fff;
        font-size: 40px;
        font-family: '';
    }

    .title {
        width: 100%;
        z-index: 99;
        font-family: 'newzald_testmedium';
        text-align: center;
    }

    .page-view.section-banner {    
        &.hide {
            -webkit-mask: url($mask);
            mask: url($mask);
            -webkit-mask-size: 2300% 100%;
            mask-size: 2300% 100%;
            -webkit-animation: mask-play 1.4s steps(22) forwards;
            animation: mask-play 1.4s steps(22) forwards;
        }
    }
    
    .page-view.section-banner-2 {    
        &.hide {
            z-index: 2;
            -webkit-mask: url($mask2);
            mask: url($mask2);
            -webkit-mask-size: 7100% 100%;
            mask-size: 7100% 100%;
            -webkit-animation: mask-play 1.4s steps(70) forwards;
            animation: mask-play 1.4s steps(70) forwards;
        }
    }
}

.page-view {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    &.absolute-item {
        position: absolute;
    }
}

.section-banner {
    background: url('../../images/01.jpg') center/cover no-repeat;
    z-index: 1;
}

.section-banner-2 {
    background: url('../../images/02.jpg') center/cover no-repeat;
    z-index: 0;
}

.bannerFooter {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 999;
    text-align: center;
    font-size: 10px;
    padding: 30px;
}

@keyframes mask-play {
    from {
      -webkit-mask-position: 0% 0;
      mask-position: 0% 0;
      background-size: 110%;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
      background-size: 125%;
    }
  }
